/** @format */

body {
	padding-top: 30px;
	padding-bottom: 30px;
	background: radial-gradient(#09203f 0%, #537895 100%);
	font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
p {
	font-family: 'Raleway', sans-serif;
	color: white;
}
h1 {
	font-size: 39px;
	margin: 0 auto;
	display: block;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 20px;
	font-weight: thin 100px;
	margin: 0 auto;
}
h4 {
	font-size: 100px;
	font-weight: 300px;
	margin: 0 auto;
}
p {
	font-size: 16px;
	margin: 0 auto;
}
hr {
	height: 3px;
	color: white;
	margin: 0 auto;
}
ul {
	list-style: none;
	padding: 0px;
	margin: 0 auto;
}
li {
	line-height: normal;
}

.app {
	max-width: 800 px;
	margin: 60 px auto;
	box-sizing: border-box;
}
.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.weather {
	border-radius: 22px;
	box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
	color: white;
	border-color: aliceblue;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
	padding: 30px;
}

.center-icon {
	display: block;
	margin: 0 auto;
	font-size: 80px;
	text-shadow: 25;
	color: white;
	padding-top: 60px;
}
.current-temp {
	font-size: 100px;
	color: white;
	font-weight: 450px;
	margin: 0 auto;
	display: block;
}
.celsius {
	text-align: right;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: gold;
}
#low,
#high {
	color: white;
	font-size: 20px;
}

#condition {
	font-size: 20px;
	font-weight: bold;
}

.row-weekday-icons,
.row-weekday,
.row-weather-high,
.row-weather-low {
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	grid-row: initial;
	margin: 0 auto;
	text-align: center;
	color: white;
}
.row-weekday-icons {
	font-size: 30px;
	color: white;
}
.row-search-bar {
	font-family: 'Raleway', sans-serif;
	justify-content: center;
	margin-bottom: 20px;
}
.units {
	font-size: 17px;
	color: white;
	font-weight: 300px;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-bottom: 10px;
}
