/** @format */

body {
	padding-top: 30px;
	padding-bottom: 30px;
	background: radial-gradient(#09203f 0%, #537895 100%);
	font-family: 'Spartan', sans-serif;
}
h1,
h2,
h3,
h4,
p {
	font-family: 'Spartan', sans-serif;
	color: white;
}
h1 {
	font-size: 27px;
	margin: 0 auto;
	display: block;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 13px;
	margin: 0 auto;
	line-height: 28px;
}
h4 {
	font-size: 100px;
	font-weight: 300px;
	margin: 0 auto;
}
p {
	font-size: 16px;
	margin: 0 auto;
}
hr {
	height: 3px;
	color: white;
	margin: 0 auto;
}
ul {
	list-style: none;
	padding: 0px;
	margin: 0 auto;
	line-height: 1px;
}
li {
	line-height: 21px;
}
ul col-sm {
	line-height: 1px;
}
a {
	color: white;
	text-decoration: none;
}

.active {
	color: white;
	cursor: default;
}
.active:hover {
	text-decoration: none;
	color: white;
}
a:hover {
	color: rgb(114, 112, 11);
	text-decoration: underline;
}

.app {
	max-width: 800 px;
	box-sizing: border-box;
}
.city-day-info {
	padding: 10px;
}

.col-sm {
	padding-left: 0;
	padding-right: 0;
	padding-top: 14px;
	position: relative;
	left: -31px;
}
#current-temp-unit-container {
	width: 190px;
}

#icon-current {
	max-width: 128px;
	text-align: right;
	position: relative;
	top: -14px;
	left: 31px;
}
.weather {
	border-radius: 22px;
	box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
	color: white;
	border-color: aliceblue;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
	padding: 30px;
	max-width: 762px;
}

#current-temperature {
	font-size: 79px;
	color: white;
	font-weight: 450px;
	margin: 0 auto;
	padding-right: 0px;
	padding-left: 0px;
	position: relative;
	left: 4px;
}
#center-icon {
	object-fit: none;
	position: relative;
	top: 9px;
}

#low,
#high {
	color: white;
	font-size: 17px;
	line-height: 57px;
}
#low-high {
	position: relative;
	top: -8px;
}

#condition {
	font-size: 20px;
	font-weight: bold;
}

.row-weekday-icons,
.row-weekday,
.row-weather-high,
.row-weather-low {
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	grid-row: initial;
	margin: 0 auto;
	text-align: center;
	color: white;
}
.row-weekday-icons {
	font-size: 30px;
	color: white;
}
.row-search-bar {
	font-family: 'Spartan', sans-serif;
	justify-content: center;
}
#units {
	font-size: 15px;
	position: relative;
	top: -30px;
	right: 2px;
}
#unit-container {
	position: relative;
	top: -39px;
	left: 133px;
}
